
span.glyphicon-info-sign {
    font-size: 0.6em;
    vertical-align: super;
    color: black;
}

h1 span.glyphicon-info-sign {
    font-size: 0.4em;
}

form span.glyphicon-info-sign {
    font-size: 0.9em;
}

.modal-body li {
  margin-bottom: 0.5em;
}

.chart-wrapper, .dataTables_wrapper {
  margin: 12px 0;
}
  
.chart-wrapper, .nav-tabs, .covid-banner {
  user-select: none;
  -webkit-user-select: none;
}

.checkbox-wrapper {
  margin: 10px 0 6px;
  padding: 3px;
  background: #eef;
}

div.form-check.inline {
  display: inline-block;
  margin: 0 0.75em;
  width: auto;
}

label {
  font-weight: normal;
  font-size: 0.8em;
  margin: 0 0 0 2px;;
}

.error, .stale {
  color: red;
}

.tight p {
    margin-bottom: 0;
}

div.row.chart > div {
  margin: 12px 20px;
}

div.covid-banner {
  margin: 6px 4px 18px;
  padding: 6px 10px;
  border-radius: 10px;
  font-size: 1.25em;
}

div.covid-banner table {
  margin: 0 auto;
}
div.covid-banner td {
  padding: 2px 12px;
  vertical-align: top;
}

div.covid-banner td:nth-child(2) {
  text-align: right;
  font-weight: bold;

}

#systemerror {
  color: red;
}

#banner-cases {
  background: rgba(255, 99, 132, 0.8);
}

#banner-deaths {
  background: rgba(153, 102, 255, 0.8);
}

#banner-vaccines {
  background: rgba(124, 255, 102, 0.8);
}

#banner-state-cases {
  background: rgba(255, 159, 64, 0.8);
}

#banner-state-deaths {
  background: rgba(54, 162, 235, 0.8);
}

#banner-state-vaccines {
  background: rgba(44, 191, 84, 0.8);
}

h3.summary {
  text-align: center;
}

p.timestamp span, span.nowrap {
  white-space: nowrap;
}

select {
  font-size: 1.25em;
  margin: 10px 0;
}

table.table-cases th, table.table-cases td {
  text-align: right;
}

table.table-cases th.title {
  text-align: center;
}

table.table-cases th.col-checkbox, table.table-cases th.col-name, table.table-cases td:nth-child(1), table.table-cases.check-table td:nth-child(3) {
  text-align: left;
}

table.table-cases.check-table th.col-rank, table.table-cases.check-table td:nth-child(2) {
  text-align: center;
}

.state-abbr {
  display: none;
}

@media (max-width: 768px) {
  .state-name {
    display: none;
  }
  .state-abbr {
    display: inline-block;
  }
}

@media (max-width: 600px) {
    div.covid-banner {
      font-size: 1em;
    }

    div.covid-banner td {
      padding: 2px;
    }

    table.table-cases {
      font-size: 0.85em;
    }
}

/* small columns need to kick in earlier for banners so mobiles work right */
@media (min-width: 450px) {
  .banner-row .col-sm-6 {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .banner-row .col-md-4 {
    width: 33.33333333%;
  }

  #banner-vaccines td.name, #banner-state-vaccines td.name {
    font-size: 0.8em;
  }
}



#state-table_wrapper .dt-buttons::before {
  content: "Select: ";
}

button.dt-button {
  padding: 1px 7px;
  margin-bottom: 0;
}

tr.aggregate {
  font-weight: bold;
}

/* defined to match the CDC color scheme */
span.comm-low,
table.table-comm-levels tbody tr.comm_level_low {
  background-color: #00cc99;
}

span.comm-medium,
table.table-comm-levels tbody tr.comm_level_medium {
  background-color: #ffff99;
}

span.comm-high,
table.table-comm-levels tbody tr.comm_level_high {
  background-color: #fc8d59;
}

span.trans-low,
table.table-trans-levels tbody tr.trans_level_low {
  background-color: #1d8aff;
}

span.trans-medium,
table.table-trans-levels tbody tr.trans_level_medium {
  background-color: #fff70e;
}

span.trans-substantial,
table.table-trans-levels tbody tr.trans_level_substantial {
  background-color: #ff71e4;
}

span.trans-high,
table.table-trans-levels tbody tr.trans_level_high {
  background-color: #f00;
}

table.table-trans-levels tbody tr.trans_level_na,
table.table-comm-levels tbody tr.comm_level_na {
  background-color: white;
}

p.cdc-ratings {
  text-align: center;
}

p.cdc-ratings span {
  display: inline-block;
  margin: 0 8px;
  padding: 1px 10px;
}
