
span.glyphicon-info-sign {
    font-size: 0.6em;
    vertical-align: super;
    color: black;
}

h1 span.glyphicon-info-sign {
    font-size: 0.4em;
}

.modal-body li {
  margin-bottom: 0.5em;
}

.chart-wrapper, .dataTables_wrapper {
  margin: 12px 0;
}
  
.chart-wrapper, .nav-tabs, .covid-banner {
  user-select: none;
  -webkit-user-select: none;
}

.checkbox-wrapper {
  margin: 10px 0 6px;
  padding: 3px;
  background: #eef;
}

div.form-check.inline {
  display: inline-block;
  margin: 0 0.75em;
  width: auto;
}

label {
  font-weight: normal;
  font-size: 0.8em;
  margin: 0 0 0 2px;;
}

.error, .stale {
  color: red;
}

.tight p {
    margin-bottom: 0;
}

div.row.chart > div {
  margin: 12px 20px;
}

div.covid-banner {
  margin: 6px 4px 18px;
  padding: 6px 10px;
  border-radius: 10px;
  font-size: 1.25em;
}

div.covid-banner table {
  margin: 0 auto;
}
div.covid-banner td {
  padding: 2px 12px;
  vertical-align: top;
}

div.covid-banner td:nth-child(2) {
  text-align: right;
  font-weight: bold;

}

#banner-cases {
  background: rgba(255, 99, 132, 0.8);
}

#banner-deaths {
  background: rgba(153, 102, 255, 0.8);
}

#banner-state-cases {
  background: rgba(255, 159, 64, 0.8);
}

#banner-state-deaths {
  background: rgba(54, 162, 235, 0.8);
}

h3.summary {
  text-align: center;
}

p.timestamp span {
  white-space: nowrap;
}

select {
  font-size: 1.25em;
  margin: 10px 0;
}

table.table-cases th, table.table-cases td {
  text-align: right;
}

table.table-cases th:nth-child(1), table.table-cases td:nth-child(1), table.table-cases.check-table th:nth-child(3), table.table-cases.check-table td:nth-child(3) {
  text-align: left;
}

table.table-cases.check-table th:nth-child(2), table.table-cases.check-table td:nth-child(2) {
  text-align: center;
}

.state-abbr {
  display: none;
}

@media (max-width: 768px) {
  .state-name {
    display: none;
  }
  .state-abbr {
    display: inline-block;
  }
}

@media (max-width: 600px) {
    div.covid-banner {
      font-size: 1em;
    }

    div.covid-banner td {
      padding: 2px;
    }

    table.table-cases {
      font-size: 0.85em;
    }
}

#state-table_wrapper .dt-buttons::before {
  content: "Select: ";
}

button.dt-button {
  padding: 1px 7px;
  margin-bottom: 0;
}

tr.aggregate {
  font-weight: bold;
}

